@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket {
  background: url("img/Rocket.png") center/cover;
  aspect-ratio: 534/796;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18.22fr 21.36fr 33.29fr 22.86fr 4.27fr;
  font-family: Nova Square, sans-serif;
}

/* .rocket .padding { background-color: red; } */
.rocket .logo {
  background-color: rgba(255, 255, 0, 0.2);
}

.rocket .countdown {
  background-color: rgba(0, 128, 0, 0.2);
  font-size: 4rem;
  text-align: center;
}

.rocket .countdown .small {
  font-size: 0.4em;
}

.rocket .options {
  background-color: rgba(0, 255, 255, 0.2);
}

.rocket > div:nth-child(5) {
  background-color: rgba(0, 0, 255, 0.2);
}
